@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-container {
  margin: 20px 0px 20px 20px;
}

.brand-container img {
  width: 22%;
}

.image-container-mobile-version {
  display: flex;
  justify-items: center;
  width: 100%;
}

.image-container-mobile-version img {
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
  margin-top: 40px;
}

.text-container h2 {
  color: var(--dark-grayish-red);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 8px;
  text-align: center;
  width: 80%;
}

.were {
  color: var(--desaturated-red);
  font-weight: 300;
}

.text-container p {
  color: var(--desaturated-red);
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
  width: 95%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

input {
  border: solid 1px var(--desaturated-red);
  border-radius: 30px;
  color: var(--dark-grayish-red);
  font-family: "Josefin Sans";
  font-weight: bold;
  padding: 12px 0px 12px 20px;
  width: 95%;
}

/* error image default display to none*/
form img:nth-child(2) {
  display: none;
  position: absolute;
  right: 88px;
  width: 20px;
}

button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 30px;
  height: 42px;
  position: absolute;
  right: 12px;
  width: 55px;
}

/* error message default display to none*/
.error-message p {
  color: var(--soft-red);
  display: none;
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 600;
  margin-left: 38px;
  margin-top: 10px;
}

.image-container-desktop-version {
  display: none;
}

@media screen and (min-width: 667px) {
  .image-container-mobile-version {
    display: none;
  }

  body {
    display: flex;
    flex-direction: row;
    height: 200px !important;
  }

  .main-container {
    width: 50%;
  }

  .brand-container {
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 140px;
  }

  .brand-container img {
    max-width: 140px;
  }

  .text-container {
    margin-top: 130px;
    margin-left: 140px;
    max-width: 475px;
  }

  .text-container h2 {
    align-self: flex-start;
    text-align: left;
    font-size: 3em;
  }

  .text-container p {
    align-self: flex-start;
    text-align: left;
    max-width: 445px;
  }

  .form-container {
    max-width: 445px;
    margin-left: 140px;
  }

  form {
    align-self: flex-start;
  }

  form input {
    width: 100%;
  }

  form img:nth-child(2) {
    right: 100px;
  }

  button {
    width: 80px;
  }

  .error-message {
    margin-top: 10px;
  }

  .error-message p {
    align-items: flex-start;
    display: inline;
    margin-left: 160px;
    max-width: 445px;
  }

  .image-container-desktop-version {
    display: inline;
    height: 100%;
    width: 50%;
  }

  .image-container-desktop-version img {
    height: 100%;
    width: 100%;
  }
}
